@model GiveBadge

@{
    ViewData["Title"] = "GiveBadges";
}

<h1>GiveBadges</h1>

<form asp-action="GiveBadges">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserId" class="control-label">User</label>
        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
    </div>
    <div class="form-group">
        <label asp-for="BadgeId" class="control-label">Badge</label>
        <select asp-for="BadgeId" class="form-control" asp-items="ViewBag.Badges"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>